:root {
    --pirmary-bg-color: #131921;
    --secondary-bg-color: #232F3E;

    --alert-bg-color: #F08804;
    --btn-alert-bg-color: #F0C457;

    --text-alert-color: #F69931;;

    --link-color: #007185;
    --link-hover-color: #C7511F;

    --price-color: #B12704;
    --amazon-choice-bg-color: #232F3E;
}

.bg-primary {
    background-color: var(--pirmary-bg-color);
} 

.text-primary {
    color: white;
}

.amazon-logo img {
    width: 115px; 
    height: 75px;
    float: left;
}

.amazon-logo {
    grid-column: 1 /span 3;
}


.delivery-location {
    display: inline-block;
    width: 90px;
    padding: 20px 0;
    grid-column: 4 /span 3;
}

.delivery-location span:first-child {
    display: inline-block;
    padding-left: 15px;
}

.upper-nav div{
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(51, 1fr);
}


.search {
    grid-column: 7 /span 35;
}

.search input {
    margin: 20px 0;
    padding: 15px 0;
    border-radius: 10px;
    width: 95%;
}

.lower-nav {
    display: inline-block;
    list-style-type: none;
}

.lower-nav ul {
    margin: 0;
    grid-column: 4 /span 15;
    display: flex;
    justify-content: space-evenly;
}

.lower-nav ul li {
    display: inline-block;
    list-style-type: none;
}

.lower-nav ul li a:nth-child(i) {
    grid-column: span 3;
}

.lower-nav ul li a {
    text-decoration: none;
    color: white
}

.search-aside{
    grid-column: 42 /span 10;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lower-nav {
    grid-column: 2 /span 50;
    gap: 0 20px;
    display: grid;
    grid-template-columns: repeat(51, 1fr);
}

.language-img {
    width: 70px;
    position: relative;
}

.language-img img {
    width: 50px;
    float: left;
}

.language-img::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    position: absolute;
    bottom: 0;
}

.return-n-orders::before {
    display: block;
    content: 'Returns';
}


.main-grid-container {
    display: grid;
    grid-template-areas: 
        /* spc is space */
        'space-right img img img desc desc desc space-left'
        'space-right img img img desc desc desc space-left'
        'space-right img img img desc desc desc space-left'
        /* b-t is bought togather */
        'space-right b-t b-t b-t b-t b-t b-t space-left'
        'space-right items items items items items items space-left';
}

.grid-side-space {
    grid-area: space-right;
}

.grid-side-space-right {
    grid-area: space-left;
}

.product-imgs {
    grid-area: img;
}

.product-description {
    grid-area: desc;
}

.product-img ul {
    padding: 0;
    margin: 0;
    display: flex;
    width: 45px;
    flex-direction: column;
    list-style-type: none;
    float: left;
}

.product-img ul li {
    display: inline-block;
    list-style-type: none;
}

.product-img ul li img{
    width: 40px;
    height: 40px;
}


.max-w-650 img{
    width: 650px;
    float: left;
}

.grid-side-space-right {
    width: 250px;
}

.grid-side-space-left {
    width: 250px;
}

.category {
    margin-left: 250px;
    margin-bottom: 15px;
}
